.carousel .carousel-indicators li {
  background-color: #fc6a03;
}
.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
  filter: invert(100%);
}
.carousel-control-prev-icon {
  width: 34px;
  height: 34px;
}

.carousel-control-next-icon {
  width: 34px;
  height: 34px;
}
.col-sm-2 {
  margin-bottom: 5px;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
}
a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  font-weight: 200;
  outline: none;
}
.navbar.navbar-expand-lg .navbar-nav .nav-link:hover,
.navbar.navbar-expand-lg .navbar-nav .active .nav-link {
  color: #fc6c3f;
}
.dropdown-item:focus,
.dropdown-item:hover {
  color: #fc6c3f;
  text-decoration: none;
  background-color: #f8f9fa;
}
.Food-logo {
  text-align: center;
  margin: 20px;
  padding: 30px;
  font-weight: 300;
  font-family: "Amatic SC", cursive;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
}
section {
  margin: 10px;
  padding-top: 30px;
}
.s1-img {
  border-radius: 30px;
  max-width: 100%;
  max-height: 100%;
}
.catagory-title {
  width: 200px;
  height: 50px;
  background-color: #fff;
  position: absolute;
  top: 45%;
  text-align: center;
  border-radius: 30px;
  left: 22%;
  color: black;
}
.catagory-title:hover {
  background-color: #fc6c3f;
  color: white;
}
#text-s1 {
  font-style: italic;
  padding-top: 10px;
  color: black;
}
#text-s1:hover {
  color: white;
}
#card1 {
  width: 400;
  height: 300;
  border-radius: 30px;
}
#card2 {
  width: 100%;
  height: 100%;
  border-radius: 30px;
}
#card3 {
  padding-bottom: 10px;
  border-radius: 30px;
}
#btn-cr {
  border-radius: 30px;
  background-color: #f8f9fa;
  padding: auto;
}
#btn-cr:hover {
  background-color: #fc6a03;
  color: #f8f9fa;
}
.profile-image {
  border-radius: 50%;
  width: 70%;
  height: auto;
}
.widget-title,
h6 {
  background: #fc6a03;
  color: #f8f9fa;
  height: 40px;
  width: 100%;
  line-height: 40px;
  border-radius: 30px;
  margin-bottom: 30px;
}
.subscribe-link,
i {
  padding: 10px;
  color: black;
}
.subscribe-link,
i:hover {
  color: #fc6a03;
}
#card4 {
  border-radius: 30px;
}
#card5 {
  border-radius: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.newsletter-form input {
  width: 100%;
  height: 40px;
  background-color: #f5f5f8;
  border: 1px solid #e1e1e1;
  border-radius: 30px;
  padding: 0 20px;
  font-size: 14px;
  color: #b5aec4;
}
.newsletter-form button {
  width: 45px;
  height: 45px;
  background-color: #fc6a03;
  border: none;
  color: #fff;
  padding: 5px;
  border-radius: 30px;
  position: absolute;
  right: 0;
  top: -50;
  z-index: 9;
  cursor: pointer;
}
#arrow {
  color: #f5f5f8;
}
#home-id {
  text-decoration: none;
  color: black;
}
.Arc-id {
  background-color: #fc6a03;
  text-align: center;
  padding: 40px;
  color: #f8f9fa;
  font-weight: lighter;
  letter-spacing: 4px;
}
.go-back-nav {
  padding: 20px;
}
.arch-img {
  border-radius: 30px;
  border: no;
}
.card {
  border: none;
}
.number {
  display: inline;
  margin-left: 350px;
}
.page-link {
  color: black;
}
.page-link:hover {
  color: #f8f9fa;

  background-color: #fc6a03;
}
#img-contact {
  padding-top: 30px;
}
#contact-row {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 10px;
}
.contact-btn {
  background-color: #fc6a03;
  border: none;
  color: #fff;
  padding: 15px;
}
#blog-text {
  font-weight: lighter;
  font-style: italic;
  font-size: 15px;
  padding: 20px;
  font-size: 20px;
}
.recipe-img {
  max-width: 100%;
  border-radius: 40px;
  padding: 20px;
}
#card-rec {
  background-color: #fc6a03;
  margin-top: -70px;
  color: #f5f5f8;
  padding: 40px;
  margin-bottom: 20px;
}
#title-rec {
  padding: 20px;
  margin: 10px;
}
#sub-rec {
  padding: 10px;
  margin: 10px;
  word-spacing: 3px;
  font-style: italic;
  font-weight: lighter;
  font-size: 20px;
}
#card-about {
  background-color: #fc6a03;
  margin-top: 20px;
  color: #f5f5f8;
  padding: 40px;
  margin-bottom: 20px;
}
#about-img {
  max-width: 100%;
  border-radius: 30px;
  margin-top: 20px;
}
.footer-social-area {
  padding-top: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 30px;
  justify-content: center;
}
#icon-text {
  color: black;
  padding: 15px;
}
